<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="icon" type="image/x-icon" href="{{ '/static/favicon.ico'|url }}">
  <link rel="apple-touch-icon" href="{{ '/static/favicon.png'|url }}">
  <link rel="stylesheet" href="{{ '/static/style.css'|url }}">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
  <title>{% block title %}Welcome{% endblock %} — kutubuku</title>

  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>

  {% block extra_head %}{% endblock %}
</head>
<body>
  <header>
    <h1>
      <img src="{{ '/static/rlim.png'|url }}"
           alt="rlim"
           class="logo-rlim">
      kutubuku
    </h1>
    <nav>
      <ul class="nav navbar-nav">
        <li{% if this._path == '/' %} class="active"{% endif
          %}><a href="{{ '/'|url }}">Welcome</a></li>
        {% for href, title in [
          ['/blog', 'Blog'],
          ['/about', 'About'],
          ['/search', 'Search'],
        ] %}
          <li{% if this.is_child_of(href) %} class="active"{% endif
            %}><a href="{{ href|url }}">{{ title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <footer>
    &copy; Copyright 2025 by Ricky Lim.<br>
    Proudly built with ❤️ using <a href="https://www.getlektor.com/">Lektor</a>
  </footer>
  {% block scripts %}{% endblock %}
</body>
</html>
